<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">To-Do List</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>

<main role="main" class="container main-content">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</main>
